body{
    font-family:Roboto, sans-serif;
    font-weight:600;
    font-size:32px;
    line-height:35px;
    color:#FFFFFF;
    background-color:#303030;
}
a{
    text-decoration:none;
    color:aqua;
}
p{
    margin-top:20px;
    margin-bottom:20px;
}
.mobile_nav, .burger_toggle{
    display:none;
}
iframe{
    border-radius:10px;
    max-width:70%;
    min-width:30%;
}
nav{
    background-color:#444746;
    display:flex;
    flex-direction:row;
    width:80%;
    max-width:1000px;
    height:100px;
    align-items:center;
    justify-content:space-around;
    border-bottom-left-radius:20px;
    box-shadow:0 0 20px 10px #00000040;
    position:fixed;
    top:0;
    right:0;
    z-index:100;
}
nav div{
    margin:10px;
    padding:10px;
}
nav div a{
    text-decoration:none;
    color:#FFFFFF;
    font-size:1.2em;
    text-align:center;
    text-wrap:nowrap;
    text-decoration-color:#00000000;
    transition:0.2s;
    display:inline-block;
}
nav div a:hover{
    text-decoration:underline;
    transition:0.2s;
    transform:scale(1.05);
}
article{
    margin-bottom:150px;
    margin-top:250px;
    margin-left:120px;
    margin-right:120px;
}
article h1{
    font-size:3em;
    margin-bottom:50px;
}
article h2{
    margin-left:30px;
    margin-top:50px;
    margin-bottom:50px;
    font-size:1.4em;
    line-height:1.1em;
}
article h3{
    margin-top:100px;
    margin-bottom:20px;
    font-size:1.3em;
    font-style:italic;
}
article .text_block{
    font-size:1em;
    margin-left:30px;
    margin-top:50px;
    color:#E9E9E9;
    line-height:1.3em;
}
.profil_image{
    max-width:250px;
    min-width:100px;
    float:right;
    border-radius:20px;
    box-shadow:0 0 20px 10px #00000040;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:20px;
    margin-bottom:20px;
}
footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:100px;
    background-color:#444746;
    box-shadow:0 0 20px 10px #00000040;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-end;
}
footer div{
    margin:20px 30px 20px 0px;
    padding:10px;
    display:inline-block;
    text-align:center;
    text-wrap:nowrap;
}
footer div a{
    text-decoration:none;
    color:#FFFFFF;
    font-size:1.2em;
    text-align:center;
    text-wrap:nowrap;
    text-decoration-color: #00000000;
    transition:0.2s;
    display:inline-block;
}
footer div a:hover{
    text-decoration:underline;
    transition:0.2s;
    transform:scale(1.05);
}
.gird_menu{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:100hv;
    flex-wrap:wrap;
}
.grid_item{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:260px;
    height:320px;
    margin:20px;
    transition:0.2s;
    transform-style:preserve-3d;
}
.grid_item:hover{
    transition:0.2s;
    transform:scale(1.1);
}
.grid_item div{
    border-radius:20px;
    background-color:#000000FF;
    box-shadow:0 0 20px 10px #00000040;
    padding:30px;
    margin-bottom:10px;
}
.grid_item span{
    color:#E9E9E9;
    font-style:italic;
    text-align:center;
    text-decoration:none;
}
.grid_item img{
    width:100%;
}

ul{
   margin-left:60px;
   list-style:disc; 
}
.full_immage{
    border-radius:20px;
    max-width:70%;
    min-width:30%;
    margin-top:30px;
    margin-bottom:30px;
    cursor:pointer;
}
figcaption{
    font-style:italic;
}
.submit_button{
    font-size:1.2em;
    padding:20px 40px 20px 40px;
    border-radius:20px;
    color:#FFFFFF;
    background-color:#444746;
    border-style:none;
    box-shadow:0 0 20px 10px #00000040;
    transition:0.2s;
    margin-top:20px;
}
.submit_button:hover{
    transition:0.2s;
    transform:scale(1.05);
}
.name_input, .email_input, .surname_input, .text_input{
    background-color:#E9E9E9;
    color:#303030;
    padding:25px 40px 25px 40px;
    border-style:none;
    box-shadow:0 0 20px 10px #00000040;
    border-radius:20px;
}
.input_container{
    display:flex;
    flex-direction:column;
    margin:20px;
    flex:1 1 100%;
}
.input_container:first-child, .input_container:nth-child(2){
    margin:20px;
    flex:1 1 45%; 
}
.contact_form{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
.input_container label{
    margin-bottom:10px;
}
textarea{
    font-family:Roboto, sans-serif;
    font-weight:400;
    font-size:32px;
    line-height:35px;
    color:#303030;
}
@media (max-width: 800px){
    nav{
        display:none;
    }
    .mobile_nav{
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        background-color:#444746;
        height:70px;
        box-shadow:0 0 20px 10px #00000040;
        position:fixed;
        top:0;
        left:0;
        right:0;
        z-index:100;
    }
    .burger_menu{
       position:fixed;
       top:70px;
       background-color:#444746;
       display:flex;
       flex-direction:column;
       justify-content:space-between;
       box-shadow:0 0 20px 10px #00000040;
       border-bottom-right-radius:20px;
       transform:scale(0);
       transition:0.2s;
       transform-origin:top left;
    }
    .burger_menu div a{
        text-decoration:none;
        color:#FFFFFF;
        font-size:1.5em;
        text-align:center;
        text-wrap:nowrap;
        text-decoration-color: #00000000;
        transition:0.2s;
        display:inline-block;
    }
    .burger_menu div a:hover{
        text-decoration: underline;
        transition:0.2s;
        transform:scale(1.05);
    }
    .burger_menu div{
        margin:20px 50px 20px 20px;
        
    }
    .burger_toggle:checked ~ .burger_menu{
        display:flex;
        transform:scale(1);
        transition:0.2s;
    }
    .burger_icon{
        cursor:pointer;
    }
    .mobile_nav label img{
        width:50px;
        margin-left:10px;
    }
    article {
        margin-top:120px;
        margin-left:20px;
        margin-right:20px;

    }
    article h1{
        margin-bottom:50px;
    }
    article h2,article h3{
        margin-left:10px;
    }
    article .text_block{
        margin-left:10px;
        margin-right:10px;
    }
    .profil_image{
        display:block;
        width:100%;
        margin:20px auto;
        float:none;
    }
    footer{
        height:70px;
    }
    footer div a{
        font-size: 1em;
    }
    footer div{
        margin:20px 10px 20px 0px;
    }
    .input_container:first-child, .input_container:nth-child(2) {
        width:50%;
        margin:20px;
    }
}